<h2> Here is the product you entered: </h2>

<p> Prouct Name: </p>
 <h2> <%= @product.name %> </h2>

<p> Price: </p>
<h2> <%= @product.price %> </h2>

<p> Description: </p>
<h2><%= @product.description %> <h2>

# <div class="alert alert-<%= name %> role="alert"><%= message %></div>
