<h1> Here are the products: </h1>


<% @products.each_slice(3) do |three_products| %>
<div class="row">
<% three_products.each do |product| %>
<div class="col-md-4">

<h2> <a href="/products/<%= product.id %>"><%= product.name %> </a> </h2>


<h3> Product Image: </h3>
<img src="<%= product.image %>">

<h3> Product Price: </h3>
<p> <%= product.price %> </p>

<h3> Product Description: </h3>
<p> <%= product.description %> </p>

<h3> Stocked : </h3>
 <% if product.stocked %> 
<p> Yes </p>
<% else %> 
<p> No </p>
<% end %>

</div>
<% end %>

</div>
<p> ************************************ </p>
	
<% end %>